@import "./node_modules/bootstrap/scss/bootstrap.scss";

@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";

.container {
    background-color: lightcoral;
}
@include media-breakpoint-between (sm,lg){
    .container{
        background-color: violet;
    }
}

@include media-breakpoint-between (lg,xxl){
    .container{
        background-color: green;
    }
}